# Evita que npm o yarn instalen las dependencias por error
engine-strict=false

# Versión de Node recomendada
node-version=20

# Hoist todos los paquetes al node_modules raíz (compatible con Next.js)
shamefully-hoist=true
